/target/
/.idea/
/dist/
/scratch/
magisk-module/prebuilt/
*.apk
*.zip
*.hprof
*.jar
*.jks
*.keystore

# Gradle & Android build files
.gradle/
build/
app/build/
app/.gradle/
app/.idea/
local.properties
app/local.properties

.agents/
.gemini/
.kotlin/
.vscode/
.cache/
